@media (max-width: 1440px) {
  .first-page .first-page__slider .slick-dots {
    bottom: -170%;
  }

  .slick-slider {
    margin-top: -50px;
  }
}

@media (max-width: 1280px) {
  .header .header__wrapper {
    right: 40px;
  }

  .first-page .first-page__slider .first-page__item .first-page__item-header {
    font-size: 60px;
  }

  .first-page .first-page__slider .slick-dots {
    bottom: -60%;
  }

  .first-page__slider {
    max-width: 700px;
  }

  .the-team .the-team__wrapper-item {
    margin: 0 10px;
  }
}

@media (max-width: 1100px) {
  .latest-works .latest-works__category {
    padding-top: 250px;
  }

  .latest-works .latest-works__category .latest-works__category-row.flex-start.with-mb {
    margin-top: 40px;
  }

  .latest-works .latest-works__category .latest-works__category-row.flex-end.with-mb {
    margin-top: 40px;
  }

  .modal {
    width: 90vw;
  }

  .modal .modal__text {
    margin: 100px auto 0 auto;
  }
}

@media (max-width: 1050px) {
  .sqwd .sqwd__column.sqwd__column-left::after {
    display: none;
  }

  .sqwd .sqwd__wrapper {
    display: block;
  }

  .sqwd .sqwd__column.sqwd__column-left,
  .sqwd .sqwd__column.sqwd__column-rigth {
    margin: 0 auto;
  }

  .sqwd .sqwd__column.sqwd__column-rigth .sqwd__column-text {
    padding-top: 250px;
    margin-left: 220px;
    margin-top: 40px;
  }

  .sqwd .sqwd__column.sqwd__column-rigth .sqwd__column-text::before {
    top: 262px;
  }

  .our-services .our-services__wrapper {
    display: block;
  }

  .our-services .our-services__wrapper .our-services__wrapper-column + .our-services__wrapper-column {
    margin-left: 0px;
    margin-top: 20px;
  }

  .latest-works {
    margin-top: 60px;
  }

  .contact-ways .contact-ways__wrapper {
    display: block;
  }

  .contact-ways .contact-ways__item {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .the-team .the-team__wrapper {
    display: block;
    text-align: center;
  }

  .the-team .the-team__wrapper-item {
    margin: 20px 0;
    display: inline-block;
  }

  .the-team .the-team__tilte {
    padding-top: 75px;
  }

  .the-team {
    padding-bottom: 75px;
  }

  .latest-works .latest-works__category {
    margin-bottom: 77px;
  }
}

@media (max-width: 730px) {
  .first-page .first-page__slider .first-page__item .first-page__item-header {
    font-size: 40px;
  }

  .first-page .first-page__slider .first-page__item .first-page__item-text {
    font-size: 16px;
  }

  .first-page__slider {
    max-width: 300px;
  }
}

@media (max-width: 630px) {
  .latest-works .latest-works__category .latest-works__category-row.flex-end .latest-works__category-title.long-title {
    right: 100px;
  }

  .latest-works .latest-works__category .latest-works__category-row.flex-start .latest-works__category-title {
    left: 200px;
  }

  .latest-works .latest-works__category .latest-works__category-row.flex-end .latest-works__category-title {
    right: 200px;
  }

  .latest-works .latest-works__categories-row .latest-works__categories-btn + .latest-works__categories-btn {
    margin-left: 20px;
  }

  .the-team .the-team__wrapper-item {
    width: 290px;
    height: 350px;
  }
}

@media (max-width: 570px) {
  .header {
    display: none;
  }

  .mobile-menu__btn {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }

  .sqwd .sqwd__column.sqwd__column-rigth .sqwd__column-text {
    margin-left: 0px;
  }

  .sqwd .sqwd__column.sqwd__column-left {
    background-position: center left;
  }

  .sqwd .sqwd__column {
    width: 260px;
  }

  .sqwd {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .latest-works .latest-works__categories-row .latest-works__categories-btn + .latest-works__categories-btn {
    margin-left: 10px;
  }

  .workers-slider .workers-slider__wrapper:after {
    display: none;
  }

  .contact-ways .contact-ways__item {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .prefooter {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .modal .modal__text {
    font-size: 25px;
  }
}

@media (max-width: 515px) {
  .latest-works .latest-works__category .latest-works__category-wrapper {
    width: 300px;
    img {
      width: 100%;
    }
  }

  .latest-works .latest-works__category .latest-works__category-row.flex-end .latest-works__category-title {
    right: 5px;
    top: 100px;
  }

  .latest-works .latest-works__category .latest-works__category-row.flex-start .latest-works__category-title {
    left: 75px;
    top: 80px;
    width: 230px;
  }

  .latest-works .latest-works__category .latest-works__category-row.flex-start .latest-works__category-text {
    margin-left: 0px;
  }

  .latest-works .latest-works__category .latest-works__category-row.flex-end .latest-works__category-title.long-title {
    right: 0px;
    font-size: 35px;
    width: 290px;
    top: 80px;
  }

  .latest-works .latest-works__categories-row .latest-works__categories-btn + .latest-works__categories-btn {
    margin-left: 0px;
  }

  .latest-works .latest-works__categories-row .latest-works__categories-btn {
    margin-left: 5px;
  }

  .latest-works__categories-row {
    line-height: 20px;
    width: 300px;
    margin-top: 10px;
  }
}

@media (max-width: 390px) {
  .mobile-menu {
    width: 240px;
  }
}
